@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

body {
  background-image: url(img/Header\ bg@2x.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Poppins", sans-serif;
}

/* Header section */
.intro {
  height: 98px;
  width: 920px;
  font-size: 20px;
  font-weight: 400;
}

.intro h1 {
  font-weight: 700;
  font-size: 48px;
}

.container .intro {
  margin-top: 254px;
  height: 268px;
  width: 920px;
}

.social-media ul li {
  margin-right: 20px;
}

/* Card Section */

.card-1 {
  margin-top: 290px;
}

.card-1 img {
  height: 448px;
  width: 544px;
}

.card-1 .language1 li {
  margin-right: 32px;
}

.card-1 .language2 li {
  background: #ebebff;
  border: 1px solid #ebebff;
  padding: 4px;
  color: #6070ff;
  border-radius: 8px;
  margin-right: 8px;
}

.card-1 .card-marg {
  margin-bottom: 142px;
}
